doctype html
html(lang='en')
  head
    title Micropedia
    link(href='bower_components/toastr/toastr.min.css' rel='stylesheet')
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    link(href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css' rel='stylesheet')
    link(href='index.css' rel='stylesheet')
  body
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/jquery.jadedom/index.js')
    script(src='bower_components/toastr/toastr.min.js')
    //- script(src='bower_components/markdown/lib/markdown.js')
    script(src='bower_components/marked/marked.min.js')
    script(src='bower_components/js-yaml/dist/js-yaml.min.js')
    script(src='feed.js')
    #feeditems