doctype html
html(lang='en')
  head
    title Micropedia
    link(href='bower_components/toastr/toastr.min.css' rel='stylesheet')
    link(href='index.css' rel='stylesheet')
  body
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/toastr/toastr.min.js')
    script(src='feed.js')
    #feeditems