.code {
  font-family: monospace;
}

.codeblock {
  width: 600px;
  vertical-align: top;
}

.leftcol {
  display: block;
  width: 295px;
  height: 100%;
  float: left;
  vertical-align: top;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-family: monospace;
  color: black;
}

.rightcol {
  display: block;
  width: 295px;
  height: 100%;
  float :left;
  vertical-align: top;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-family: monospace;
  color: black;
}

.codelink {
  background-color: #f7f7f9;
  border: 1px solid #317EAC;
  padding: 3px 3px;
  margin: 3px 3px;
  border-radius: 3px;
  font-family: monospace;
  color: black;
  text-decoration: none;
}

.codelink:link {
  text-decoration: none;
}

.codelink:hover {
  text-decoration: none;
}

.codelink:visited {
  text-decoration: none;
}

.codelink:active {
  text-decoration: none;
}

.codenolink {
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 3px 3px;
  color: black;
  font-family: monospace;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-family: monospace;
  color: black;
  width: 600px;
}

code {
  padding: 2px 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: black;
}